<!-- {% extends 'base.html' %} -->
{% block content%}

<style>
    .modal-header{
        background: #ffffff;
    }
    .modal-body{
        background: #ffffff;
    }
    .modal-footer{
        background: #ffffff;
    }
    .btn1{
        border: none;
        outline: none;
        height: 40px;
        width: 15%;
        background-color: #fded23;
        color: rgb(0, 0, 0);
        border-radius: 4px;
        font-weight: bold;
    }
    .btn1:hover{
        background: #545454;
        border: 1px solid;
        color: rgb(0, 0, 0);
    }
</style>

<!-- <script>
  $(document).ready(function(){
      $.get("/todolist/json", function(data) {
        console.log(data)
        for (i=0; i < data.length; i++){
          $(".row").append(`<div class="card" style="width: 18rem;">
            <div class="card text-center">
              <h5 class="card-title">${data[i].fields.title}</h5>
              <p class="card-text">${data[i].fields.date}</p>
              <p class="card-text">${data[i].fields.description}</p>
            </div></div>`)}})});
</script> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <div style="text-align:center;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pagedetail" data-bs-whatever="@getbootstrap">Detail</button>
    <div class="modal fade" id="pagedetail" tabindex="-1" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="exampleModalLabel">Ini nanti nama tokonya {{ nama }}</h2>
          </div>
          <div class="modal-body">
              <div class="desc">
                <label for="message-text" class="col-form-label">Deskripsi</label>
                <p> {{ deskripsi }}</p>
              </div>
              <div class="sche">
                <label for="message-text" class="col-form-label">Jadwal Operasi</label>
                <p> {{ jam_buka}} - {{ jam_tutup}} </p>
              </div>
              <div class="price">
                <label for="message-text" class="col-form-label">Rentang Harga</label>
                <p> {{ harga }} </p>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn1 btn-secondary" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    
    <br><div class="row"></div><br>

{% endblock content %}