{% extends 'base.html' %}

{% load static %}
{% block meta %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock meta %}

{% block content %}

<head>
</head>

<body>
    {% if toko is None %}
    <div class="card position-absolute top-50 start-50 translate-middle" id="cardStoreNone">
        <div class="card-body text-center">
            <img id="storeOpenIcon" src="../../static/images/store_notexist.png">
            <h3>Halo, {{ nama_pengguna }}</h3>
            <h5>Kamu belum punya toko nih!</h5>
            <h6>Ingin membuka toko?</h6>
            <button class="btn btn-success" onclick="location.href='/dashboard/buat-toko'">Buka toko</button>
            <button class="btn btn-danger">Logout</button>
        </div>
    </div>
    {% else %}
    <h2 class="fw-bolder" id="dashboardTitle">Dashboard</h2>
    <div class="d-flex flex-row mb-3" id="tokoDiv">
    </div>

    <!-- Modal untuk Tambah Barang -->
    <div class="modal fade" id="quickAddModal" tabindex="-1" aria-labelledby="qaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qaModalLabel">Tambah Barang</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="tambahBarangForm" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nama Barang: </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="inputNama"
                                placeholder="ex: Cimol">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Harga Barang: </label>
                            <input type="number" class="form-control" id="exampleFormControlInput2" name="inputHarga"
                                placeholder="ex: 20000">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput3" class="form-label">Jenis Barang: </label>
                            <select class="form-control" id="exampleFormControlInput3" name="inputJenis">
                                <option value="makanan">makanan</option>
                                <option value="minuman">minuman</option>
                                <option value="pakaian">pakaian</option>
                                <option value="alat_tulis">alat tulis</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Deskripsi: </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                name="inputDeskripsi"
                                placeholder="ex: Cimol spesial dibuat dengan aci pilihan"></textarea>
                        </div>
                        <button class="btn btn-dark" type="submit" id="tambahSubmit">Simpan</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Edit Detail Toko -->
    <div class="modal fade" id="editDetailModal" tabindex="-1" aria-labelledby="edModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qaModalLabel">Edit Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="editDetailForm" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="editDetailInput1" class="form-label">Nama Toko: </label>
                            <input type="text" class="form-control" id="editDetailInput1" name="inputNama">
                        </div>
                        <div class="mb-3">
                            <label for="editDetailInput2" class="form-label">Kota: </label>
                            <input type="text" class="form-control" id="editDetailInput2" name="inputKota">
                        </div>
                        <div class="mb-3">
                            <label for="editDetailInput3" class="form-label">Provinsi: </label>
                            <input type="text" class="form-control" id="editDetailInput3" name="inputProvinsi">
                        </div>
                        <div class="mb-3">
                            <label for="editDetailInput4" class="form-label">Lokasi: </label>
                            <input type="text" class="form-control" id="editDetailInput4" name="inputLokasi">
                        </div>
                        <div class="mb-3">
                            <label for="editDetailInput5" class="form-label">Deskripsi: </label>
                            <textarea class="form-control" id="editDetailInput5" rows="3"
                                name="inputDeskripsi"></textarea>
                        </div>
                        <button class="btn btn-dark" type="submit" id="editTokoSubmit">Simpan</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Edit Barang -->
    <div class="modal fade" id="editBarangModal" tabindex="-1" aria-labelledby="ebModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ebModalLabel">Edit Barang</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="editBarangForm" onsubmit="return false;">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" id="inputEditId" name="inputEditId" disabled>
                        <div class="mb-3">
                            <label for="inputEditNama" class="form-label">Nama Barang: </label>
                            <input type="text" class="form-control" id="inputEditNama" name="inputEditNama">
                        </div>
                        <div class="mb-3">
                            <label for="inputEditHarga" class="form-label">Harga Barang: </label>
                            <input type="number" class="form-control" id="inputEditHarga" name="inputEditHarga">
                        </div>
                        <div class="mb-3">
                            <label for="inputEditJenis" class="form-label">Jenis Barang: </label>
                            <select class="form-control" id="inputEditJenis" name="inputEditJenis">
                                <option value="makanan">makanan</option>
                                <option value="minuman">minuman</option>
                                <option value="pakaian">pakaian</option>
                                <option value="alat_tulis">alat tulis</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="inputEditDeskripsi" class="form-label">Deskripsi: </label>
                            <textarea class="form-control" id="inputEditDeskripsi" rows="3"
                                name="inputEditDeskripsi"></textarea>
                        </div>
                        <button class="btn btn-dark" type="submit" id="editDetailBarangSubmit">Simpan</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Set Jadwal -->
    <div class="modal fade" id="setJadwalModal" tabindex="-1" aria-labelledby="sjModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sjModalLabel">Atur Jadwal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tableJadwal">
                        <tr id="tableJadwalRowHead">
                            <thead>
                                <th>Hari</th>
                                <th>Jam Buka</th>
                                <th>Jam Tutup</th>
                                <th>Edit</th>
                                <th>Hapus</th>
                            </thead>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" id="btnTambahJadwal" data-bs-target="#tambahJadwalModal" data-bs-toggle="modal">Tambah Jadwal</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="tutupModalSetJadwal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Edit Jadwal -->
    <div class="modal fade" id="editJadwalModal" tabindex="-1" aria-labelledby="ejModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ejModalLabel">Edit Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="editJadwalForm" onsubmit="return false;">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" id="inputEditIdJadwal" name="inputEditIdJadwal" disabled>
                        <div class="mb-3">
                            <label for="inputEditHari" class="form-label">Hari:</label>
                            <select class="form-control" id="inputEditHari" name="inputEditHari">
                                <option value="Senin">Senin</option>
                                <option value="Selasa">Selasa</option>
                                <option value="Rabu">Rabu</option>
                                <option value="Kamis">Kamis</option>
                                <option value="Jumat">Jumat</option>
                                <option value="Sabtu">Sabtu</option>
                                <option value="Minggu">Minggu</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="inputEditJamBuka" class="form-label">Jam Buka: </label>
                            <input type="number" min="1" max = "24"class="form-control" id="inputEditJamBuka" name="inputEditJamBuka">
                        </div>
                        <div class="mb-3">
                            <label for="inputEditJamTutup" class="form-label">Jam Tutup: </label>
                            <input type="number" min="1" max = "24"class="form-control" id="inputEditJamTutup" name="inputEditJamTutup">
                        </div>
                        <button class="btn btn-dark" type="submit" id="editJadwalSubmit">Simpan</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Tambah Jadwal -->
    <div class="modal fade" id="tambahJadwalModal" tabindex="-1" aria-labelledby="tjModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tjModalLabel">Edit Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="tambahJadwalForm" onsubmit="return false;">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" id="inputIdJadwal" name="inputIdJadwal" disabled>
                        <div class="mb-3">
                            <label for="inputHari" class="form-label">Hari:</label>
                            <select class="form-control" id="inputHari" name="inputHari">
                                <option value="Senin">Senin</option>
                                <option value="Selasa">Selasa</option>
                                <option value="Rabu">Rabu</option>
                                <option value="Kamis">Kamis</option>
                                <option value="Jumat">Jumat</option>
                                <option value="Sabtu">Sabtu</option>
                                <option value="Minggu">Minggu</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="inputJamBuka" class="form-label">Jam Buka: </label>
                            <input type="number" min="1" max = "24"class="form-control" id="inputJamBuka" name="inputJamBuka">
                        </div>
                        <div class="mb-3">
                            <label for="inputJamTutup" class="form-label">Jam Tutup: </label>
                            <input type="number" min="1" max = "24"class="form-control" id="inputJamTutup" name="inputJamTutup">
                        </div>
                        <button class="btn btn-dark" type="submit" id="tambahJadwalSubmit">Simpan</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-block" id="cardContainer">
        <div class="container-inline" id="barangTitle">
            <h2 class="fw-semibold">Barang Jualanmu</h2>
            <button class="btn btn-light" id="btnAddBarang" data-bs-toggle="modal"
                data-bs-target="#quickAddModal">Tambah Barang</button>
        </div>
        <div class="row row-cols-1 row-cols-md-3" id="rowcolBarang">
        </div>
    </div>
    {% endif %}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" ß
    crossorigin="anonymous"></script>
<script>
    let countSetJadwalCall;

    function refreshPage() {
        let htmlString = ``;
        countSetJadwalCall = 0;
        $.ajax({
            url: "{% url 'dashboard:show_json' %}",
            type: "GET",
            dataType: "json",
            success: function (res) {
                for (let item of res) {
                    htmlString += `\n<div class="card flex-fill" id = "detailToko">
                        <div class="card-body">
                            <h3>${item.fields.nama}</h3>
                            <h6>${item.fields.lokasi}, ${item.fields.kota}, ${item.fields.provinsi}</h6>
                            <p class="text-wrap" style="margin-bottom: 0.5rem;">${item.fields.deskripsi}</p>
                            <button class="btn" id="btnEditToko" onclick="editToko()">Edit Detail</button>
                        </div>
                    </div>
                    <div class="card p-3 flex-fill" id="jadwalBukaToko">
                        <div class="card-body">
                            {% if jadwal is not None %}
                            <p class="fw-bolder">Jadwal Buka:</p>
                            <p style="margin-bottom: 1rem;">
                            {% for sch in jadwal %}
                            {{sch.hari}} : {{sch.jam_buka}} - {{sch.jam_tutup}}<br>
                            {% endfor %}
                            </p>
                            {% endif %}
                            <button class="btn" id="btnSetJadwal" onclick="detailJadwalToko()">Set Jadwal Toko</button>
                        </div>
                    </div>
                    <div class="card p-3 flex-fill text-center " id="stateToko">
                        <div class="container position-relative top-50 start-50 translate-middle">
                            {% if toko.buka %}
                            <img id="storeOpenIcon" src="../../static/images/store_open.png">
                            <h4>Tokomu sedang buka!</h4>
                            {% else %}
                            <img id="storeOpenIcon" src="../../static/images/store_closed.png">
                            <h4>Tokomu sedang tutup :(</h4>
                            {% endif %}
                        <form action="{% url 'dashboard:state_toko' %}" class="form-check form-switch" id="formBukaTutup"
                        method="POST">
                            {% csrf_token %}
                            {% if toko.buka %}
                            <button type="submit" class="btn btn-danger" id="btnBukaTutup">Tutup Toko</button>
                            {% else %}
                            <button type="submit" class="btn btn-success" id="btnBukaTutup">Buka Toko</button>
                            {% endif %}
                        </form>
                        </div>
                    </div>`
                    $('#tokoDiv').html(htmlString);
                }

                let cards = ``;
                $.ajax({
                    url: "{% url 'dashboard:show_barang_json' %}",
                    type: "GET",
                    dataType: "json",
                    success: function (res) {
                        for (let item of res) {
                            cards += `\n<div class="col" id="col_card_${item.pk}">
            <div class="card p-3 mb-5 bg-body rounded position-relative top-50 start-50 translate-middle" style="width: 20rem; height: 13rem;">
              <div class="card-body">
                <h5 class="card-title">${item.fields.nama}</h5>
                <h6 class="card-subtitle mb-2">${item.fields.jenis}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Rp${item.fields.harga}</h6>
                <p class="card-text text-truncate" style="margin-bottom: 0.5rem;">${item.fields.deskripsi}</p>
                <form method="post" id="delete_barang_${item.pk}" style = "display: inline-block;">
                  {% csrf_token %}
                  <input class="btn btn-light" type="button" id="editBarangSubmit" onclick="editBarang(${item.pk})" value="Edit Barang"></input>
                  <input class="btn btn-danger" type="button" id="deleteBarangSubmit" onclick="deleteBarang(${item.pk})" value="Hapus Barang"></input>
                </form>
              </div>
            </div>
          </div>`
                            $('#rowcolBarang').html(cards);
                        }
                    }
                })

            }
        })
    }

    $("#btnBukaTutup").submit(function (e) {
        e.preventDefault()

        let bukaTutup = $("#btnBukaTutup").hasClass("btn btn-danger") ? "Buka" : "Tutup"
        let trim = $.trim(bukaTutup)
        let buka = !(trim == "Buka")


        $.ajax({
            url: "{% url 'dashboard:state_toko' %}",
            type: "POST",
            data: { 'buka': buka },
            dataType: "json",
            success: function (res) {
                if (trim == "Buka") {
                    $("#btnBukaTutup").replaceWith(`<button type="submit" class="btn btn-success" id="btnBukaTutup">Buka Toko</button>`);
                } else {
                    $("#btnBukaTutup").replaceWith(`<button type="submit" class="btn btn-danger" id="btnBukaTutup">Tutup Toko</button>`);
                }
                refreshPage();
            }
        })
    })

    function tambahBarang() {
        fetch("/dashboard/tambah/", {
            method: "POST",
            body: new FormData(document.querySelector('#tambahBarangForm'))
        }).then(refreshPage)
        $(".modal").modal('hide');
        $("#quickAddModal").on('hidden.bs.modal', function () {
            $("#quickAddModal form")[0].reset();
        });
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        return false
    }

    function deleteBarang(pk) {
        $.ajax({
            type: "POST",
            url: `/dashboard/delete/${pk}`,
            data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
            success: function (data) {
                $('#col_card_' + pk).remove();
            }
        });
    }

    function editToko() {
        $.getJSON("{% url 'dashboard:show_json' %}", function (data) {
            if (data.length == 0) return;

            row = data[0];
            const { nama, kota, provinsi, lokasi, deskripsi } = row.fields;

            $('#editDetailInput1').val(nama);
            $('#editDetailInput2').val(kota);
            $('#editDetailInput3').val(provinsi);
            $('#editDetailInput4').val(lokasi);
            $('#editDetailInput5').val(deskripsi);

            $('#editDetailModal').modal('show');
        })
    }

    function editTokoSave() {
        fetch("/dashboard/update-toko/", {
            method: "POST",
            body: new FormData(document.querySelector('#editDetailForm'))
        }).then(refreshPage)
        $(".modal").modal('hide');
        $("#editDetailModal").on('hidden.bs.modal', function () {
            $("#editDetailModal form")[0].reset();
        });
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        return false
    }

    function editBarang(pk) {
        $.getJSON(`/dashboard/barang/json/${pk}`, function (data) {
            if (data.length == 0) return;

            row = data[0];
            const { nama, harga, jenis, deskripsi } = row.fields;

            $('#inputEditId').val(pk);
            $('#inputEditNama').val(nama);
            $('#inputEditHarga').val(harga);
            $('#inputEditJenis').val(jenis);
            $('#inputEditDeskripsi').val(deskripsi);

            $('#editBarangModal').modal('show');
        })
    }

    $('#editBarangForm').submit(function (e) {
        e.preventDefault();
        let dataString = $(this).serializeArray();
        let id = $('#inputEditId').val().trim();

        $.ajax({
            url: `/dashboard/update-barang/${id}`,
            type: "POST",
            data: dataString,
            success: function () {
                refreshPage();
                $(".modal").modal('hide');
                $("#editBarangModal").on('hidden.bs.modal', function () {
                    $("#editBarangModal form")[0].reset();
                });
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        })
    })

    function detailJadwalToko() {
        countSetJadwalCall++;
        $.ajax({
            url: "{% url 'dashboard:show_jadwal_json' %}",
            type: 'get',
            dataType: 'json',
            error: function(data){
                console.log('Error');
            },
            success: function(data){
                // console.log(data);
                var html_to_append = '';
                $.each(data, function(i, item){
                    html_to_append += '<tr id="row_' + item.pk + '">' +'<th>' + item.fields.hari + '</th>' + 
                    '<th>' + item.fields.jam_buka + '</th>' +
                    '<th>' + item.fields.jam_tutup + '</th>' + 
                    '<th>' + '<button class= "btn btn-light" onclick="editJadwal(' + item.pk + ')">Edit</button>' + '</th>' +
                    '<th>' + '<button class= "btn btn-danger" onclick="hapusJadwal(' + item.pk + ')">Hapus</button>' + '</th>' +
                    '</tr>';
                });
                if(countSetJadwalCall == 1){
                    $('#tableJadwalRowHead').after(html_to_append);
                }
            }
        });
        $('#setJadwalModal').modal('show');
    }

    function editJadwal(pk) {
        $.getJSON(`/dashboard/jadwal/json/${pk}`, function (data) {
            if (data.length == 0) return;

            row = data[0];
            const { hari, jam_buka, jam_tutup } = row.fields;

            $('#inputEditIdJadwal').val(pk);
            $('#inputEditHari').val(hari);
            $('#inputEditJamBuka').val(jam_buka);
            $('#inputEditJamTutup').val(jam_tutup);

            $('#editJadwalModal').modal('show');
        })
    }

    $('#editJadwalForm').submit(function (e) {
        e.preventDefault();
        let dataString = $(this).serializeArray();
        let id = $('#inputEditIdJadwal').val().trim();

        $.ajax({
            url: `/dashboard/update-jadwal/${id}`,
            type: "POST",
            data: dataString,
            success: function () {
                refreshPage();
                $(".modal").modal('hide');
                $("#editJadwalModal").on('hidden.bs.modal', function () {
                    $("#editJadwalModal").reset();
                });
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        })
    })

    function tambahJadwal() {
        fetch("/dashboard/tambah-jadwal/", {
            method: "POST",
            body: new FormData(document.querySelector('#tambahJadwalForm'))
        }).then(refreshPage)
        $(".modal").modal('hide');
        $("#tambahJadwalModal").on('hidden.bs.modal', function () {
            $("#tambahJadwalModal form")[0].reset();
        });
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        return false
    }

    document.getElementById("tambahSubmit").onclick = tambahBarang
    document.getElementById("editTokoSubmit").onclick = editTokoSave
    document.getElementById("tambahJadwalSubmit").onclick = tambahJadwal

    refreshPage()
</script>
{% endblock content %}